@mixin FC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar {
  position: fixed;
  top: 50%; left: 3rem;

  transform: translateY(-50%);
  
  z-index: 9999;

  @include FC;
  flex-direction: column;
  gap: 2rem 0;

  line-height: 1rem;

  .btn {    
    opacity: 0.8;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0;

    @include FC;

    border-radius: 100px;
    border: 2px solid var(--primary-color-3-4);
    background-color: transparent;

    color: var(--primary-color-3-1);
    font-family: inherit;
    font-weight: 800;

    position: relative;

    transition: background-color 150ms ease;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      background-color: var(--transparent-primary-color-3-4);
    }
  }

  hr {
    width: 0.25rem;
    height: 2rem;

    margin: 0;

    background-color: var(--primary-color-3-1);
    border: none;
  }
}