@import "../../assets/mixins";

@keyframes neonFlickerText {
  84% {
    $outline-color: var(--red-1);
    $glow-color: var(--red-6);
    animation: neonflicker 2s ease infinite;
    text-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
      0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
      0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
  }
  85% {
    text-shadow: none;
  }
  88% {
    $outline-color: var(--red-1);
    $glow-color: var(--red-6);
    animation: neonflicker 2s ease infinite;
    text-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
      0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
      0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
  }
  95% {
    text-shadow: none;
  }
  98% {
    $outline-color: var(--red-1);
    $glow-color: var(--red-6);
    animation: neonflicker 2s ease infinite;
    text-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
      0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
      0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
  }
}
@keyframes neonFlicker {
  84% {
    $outline-color: var(--red-1);
    $glow-color: var(--red-6);
    animation: neonflicker 2s ease infinite;

    box-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
      0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
      0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
  }
  85% {
    box-shadow: none;
  }
  88% {
    $outline-color: var(--red-1);
    $glow-color: var(--red-6);
    animation: neonflicker 2s ease infinite;

    box-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
      0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
      0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
  }
  95% {
    box-shadow: none;
  }
  98% {
    $outline-color: var(--red-1);
    $glow-color: var(--red-6);
    animation: neonflicker 2s ease infinite;

    box-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
      0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
      0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
  }
}

@keyframes textReveal {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }
  10% {
    opacity: 0.2;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0.4;
  }
  21% {
    opacity: 0.05;
  }

  69% {
    opacity: 0.05;
  }
  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.Portfolio {
  @include flex;
  position: relative;

  .neon-text {
    $outline-color: var(--red-1);
    $glow-color: var(--red-6);
    animation: neonFlickerText 3s ease infinite;
    text-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
      0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
      0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
  }

  .neon {
    $outline-color: var(--red-1);
    $glow-color: var(--red-6);
    animation: neonFlicker 3s ease infinite;
    box-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
      0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
      0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
  }

  #portfolio--title {
    opacity: 0;
    margin: 25px 0 0 0;
    color: var(--red-1);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 5em;
  }

  #project-container {
    width: 90%;
    margin: 25px 0;
    height: fit-content;

    @include flex;
    gap: 3em 0;
  }

  // #region .project
  .project {
    height: 61vh;
    max-height: clamp(170px, 8.5cqw, 8.5cqw);

    padding: 0.25em 0;
    width: 100%;

    @include flex(row, center);
    gap: 0 0.5cqw;

    position: relative;

    transition: max-height 500ms ease;

    .project--info {
      padding: 0 3cqw;
      @include flex(column, flex-start);

      line-height: clamp(26px, 2.5cqw, 2.5cqw);

      z-index: 1;
      pointer-events: none;

      h1,
      h2,
      button {
        margin: 0;
      }

      h1 {
        margin-top: 15px;
        color: var(--red-1);
        font-size: clamp(26px, 2.5cqw, 2.5cqw);
        letter-spacing: 0.1em;
      }

      h2 {
        color: var(--red-5);
        font-size: clamp(10px, 0.9cqw, 0.9cqw);
        letter-spacing: 0.1em;
      }

      .info--button-container {
        @include flex(row, center, flex-start);
        gap: 0 1em;

        button {
          width: 50px !important;
          margin: 5px 0 15px 0;
          pointer-events: all;

          @include flex;

          svg { stroke: var(--primary-color-3-3); }

          &:nth-of-type(1) { width: fit-content !important; }
        }
      }
    }

    .project--description {
      max-height: 0px;
      position: absolute;
      opacity: 0;
      transition: max-height 1s ease, opacity 1ms ease;
      white-space: pre-line;
      padding-right: 1.25em;
    }

    .project--image {
      @include flex;

      width: 50%;
      height: 100%;
      aspect-ratio: 32 / 6;

      position: relative;

      transition: width 350ms ease;

      img {
        border-radius: 8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: grayscale(100%) brightness(0.9);

        @media only screen and (max-width: 950px) {
          object-position: unset !important;
        }
      }

      .image--tooltip { display: none; }

      &::before {
        content: "";
        opacity: 0.25;
        width: 100%;
        height: 100%;

        background-color: var(--red-1);
        border-radius: 8px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 999;
      }
    }

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 5px;

      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);

      background-color: var(--red-1);

      $outline-color: var(--red-1);
      $glow-color: var(--red-6);
      animation: neonFlicker 3s ease infinite;
      box-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
        0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
        0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
    }

    &::after {
      left: 2px;
      height: calc(100% + 5.5cqh);
      width: 5px;
    }

    &:nth-of-type(1) {
      &::after {
        height: calc(100% + 20cqw);
        min-height: 21em;

        @media only screen and (max-width: 835px) {
          min-height: 24em;
        }
      }
    }

    &:nth-of-type(2n) {
      direction: rtl;

      &::after {
        right: -2px;
      }
    }
  }
  // #endregion .project

  @media only screen and (max-width: 630px) {
    .project {
      @include flex(column, center, center);
      
      .project--info {
        height: 100%;
      }

      .project--image {
        height: 0px;
        opacity: 0;
        width: calc(100% - 15cqw);

        transition: opacity 300ms ease;
      }

      .project--info button { width: 100%; }
    }

    // #region .project.opened
    .project.opened {
      transform: translateY(-20px);
      $paddedWidth: calc(100% - 15cqw);

      display: grid !important;
      grid-template-rows: 150px 1fr auto 1fr;
      gap: 2cqw 0;

      max-height: 80vh;

      .project--info {
        height: fit-content;
        padding: 0;
        margin: 1cqw auto 0 auto;

        button { width: calc(80vw - 14cqw); }
      }

      .project--description {
        height: 275px !important;
        max-height: 275px !important;
        width: $paddedWidth !important;
        margin: 0 auto;

        overflow: auto !important;

        position: relative;

        z-index: 100;

        p { margin: 0; }

        button {
          display: none !important;
          width: 12cqw;
          max-width: 50px;

          aspect-ratio: 1;
          padding: 1em 1em;

          background-color: transparent;
          border-radius: 100%;
          
          position: fixed;
          right: -25px; top: 40%;

          @include flex;

          &:hover { background-color: var(--red-3); }
        }
      }

      .project--image {
        height: 100%;
        opacity: 1;

        aspect-ratio: unset;
        margin: 0 auto;

        filter: none;
        grid-row: 1;
      }

      &:nth-of-type(2n) {
        direction: ltr !important;

        &::after {
          right: -2px;
        }
      }

      &:nth-of-type(1) {
        &::after {
          height: calc(100% + 12em);
        }
      }
    }
    // #endregion
  }

  .project.opened {

    padding: 0 0 4em 0;
    max-height: 61vh;

    .project--info {
      width: 25%;
      max-width: 50%;
      height: 100%;
      @include flex(column, flex-start, flex-start);

      white-space: normal;
      
      h2 {
        word-spacing: 100vw;
        line-height: 1.75em;
        margin: 0.5em 0;
      }

      .info--button-container {
        flex-direction: column;
        gap: 1em 0;

        a { width: 100%; }
        button { margin: 0; width: 100% !important; }
      }
    }

    .project--description {
      position: relative;
      opacity: 1;
      display: block;
      overflow: auto;

      width: 100%;
      height: 100%;
      max-height: 600px;
      margin-right: 1em;

      color: var(--white-2);
      font-family: "Titillium Web", sans-serif;
      font-size: clamp(18px, 1cqw, 1cqw);
      line-height: clamp(30px, 1.5cqw, 1.5cqw);

      transition: opacity 1.25s ease;
    }

    .project--image  {
      position: relative;
      width: 35%;

      img {
        object-position: unset !important;
      }

      .image--tooltip {
        display: block;
        height: 35px;
        aspect-ratio: 1 / 1;
        position: absolute;

        background-color: var(--background-color);
        border-radius: 100%;

        top: -15px; right: -15px;
        z-index: 9999;
      }

      &:hover {
        width: 65%;
        img { object-fit: contain !important; }
      }
    }

    &:nth-of-type(2n) {
      direction: ltr;

      &::after {
        right: -2px;
      }
    }
  }
}
