@import "../../assets/mixins";

.Home {
  height: calc(100vh - 55px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  position: relative;

  #particle-container {
    width: 100%;
    background-color: var(--background-color);
    height: fit-content;
    position: absolute;
    transform: translateY(-100px);
    z-index: -1;

    #tsparticles {
      height: 209vh;
    }
  }

  section {
    border: solid red p1x;
    width: 95%;
    height: calc((100vh - 55px));
    padding: 1cqw 0;
    margin: 0 auto;

    @include flex(column, center, flex-start);

    scroll-snap-align: center;

    color: var(--red-3);
  }
}
