@import "../../assets/mixins";

.Home {
  height: calc(100vh - 55px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  position: relative;

  #particle-container {
    width: 100%;
    background-color: var(--background-color);
    height: fit-content;
    position: absolute;
    transform: translateY(-100px);
    z-index: -1;

    #tsparticles {
      height: 300vh;
    }
  }

  section {
    width: 95%;
    height: calc(100vh - 55px);
    margin: 0 auto;

    @include flex(column, center, flex-start);

    scroll-snap-align: center;

    color: var(--red-3);
  }

  #home--header {
    #header--title {
      $font-size: 7.5cqw;
      width: 100%;
      line-height: clamp(30px, $font-size, $font-size);
      white-space: nowrap;

      h1 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: clamp(25px, $font-size, $font-size);
        margin: 0;

        &:nth-of-type(1) {
          font-weight: 700;
        }
        &:nth-of-type(2) {
          font-weight: 400;
        }
        &:nth-of-type(3) {
          $outline-color: var(--red-3);
          color: var(--background-color);
          text-shadow: -1px -1px 0 $outline-color, 1px -1px 0 $outline-color,
            -1px 1px 0 $outline-color, 1px 1px 0 $outline-color;
        }
      }
    }

    #header--controls {
      width: 100%;
      margin: 2em 0 0 0;
      
      @include flex(row, center, flex-start);
      gap: 0 1cqw;
      
      button {
        width: 10cqw;
        height: 2.5cqw;

        @include flex;

        border-radius: 100px;
      }
    }

    #header--subtitle {
      @include flex(column, flex-end, center);
      width: 100%;
      
      p {
        margin: 1cqw 0;
        color: var(--white-3);
        letter-spacing: 0.15em;
        font-size: clamp(20px, 1.75cqw, 1.75cqw);
        font-family: "Titillium Web", sans-serif;
        text-align: right;

        span { color: var(--red-3); }
      }

      button {
        padding: 0.5cqw 1cqw;
        margin: 0;
        letter-spacing: 0.15em;
        font-weight: 700;
        box-shadow: none;
        border-radius: 0;
        border-bottom: solid var(--red-3);
        font-size: clamp(16px, 1cqw, 1cqw);
      }
    }
  }
}
