@import "../../assets/mixins";

@keyframes mouseMove {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}

.Portfolio {
  @include flex;
  position: relative;

  #scroll-icon {
    position: absolute;
    left: 0; top: 50%;
    transform: translateY(calc(-50% + 75px));

    @include flex();
    gap: 0.5cqw 0;

    div {
      width: 5px;
      height: 5px;
      background-color: var(--red-3);
      border-radius: 100%;
    }

    #mouse {
      width: 30px;
      height: 45px;

      background-color: transparent;
      border-radius: 60px;
      border: solid var(--red-3) 2px;

      animation: mouseMove 1s ease infinite alternate;

      position: relative;

      &::after {
        @include pseudo(3px, 10px, var(--red-3), 1);
        top: 15px;
        border-radius: 10px;
      }

    }
    
    svg {
      height: 30px;
      width: 30px;
    }
    
    @media only screen and (max-width: 1000px) { display: none; }
  }

  #portfolio--title {
    @include flex(row, center, flex-start);
    gap: 0 1cqw;

    width: 81.75cqw;
    white-space: nowrap;
    opacity: 0;
    margin: 25px 0 0 0;
    color: var(--red-1);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: clamp(33px, 6cqw, 6cqw);
    transform: translateX(-2.25cqw) translateY(-25px);
    // transform: translateX(3.25cqw);
    z-index: 99;

    transition: transform 50ms ease;

    @media only screen and (max-width: 420px) {
      white-space: unset !important;
      transform: translateX(5.25cqw);
    }
    @media only screen and (max-width: 630px) {
      transform:  translateX(5.25cqw) translateY(0);
    }
  }

  #project-container {
    width: 90%;
    margin: 25px 0;
    height: fit-content;

    section {
      @include flex;
      gap: 3em 0;
      height: 100vh;

      &:nth-of-type(1) {
        scroll-snap-align: none !important;
        height: fit-content;
        transform: translateY(-55px);
      }
    }
    
    @media only screen and (max-width: 630px) {
      .project.opened {
        transform: translateY(50px);
      }
    }
  }
}
