@mixin FC {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes neonFlicker {
  84% {
    $outline-color: var(--red-1);
    $glow-color: var(--red-6);
    animation: neonflicker 2s ease infinite;
    text-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
      0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
      0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
  }
  85% { text-shadow: none; }
  88% {
    $outline-color: var(--red-1);
    $glow-color: var(--red-6);
    animation: neonflicker 2s ease infinite;
    text-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
      0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
      0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
  }
  95% { text-shadow: none; }
  98% {
    $outline-color: var(--red-1);
    $glow-color: var(--red-6);
    animation: neonflicker 2s ease infinite;
    text-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
      0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
      0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
  }
}

.Portfolio {
  width: 85%;

  @include FC;
  flex-direction: column;

  margin: 0 auto;
  padding: 0 2rem;

  header {
    .page-title {
      letter-spacing: 0.15em;
      margin: 5rem 0 0 0;
      font-size: 5rem;
      text-transform: uppercase;
      color: var(--red-1);
      $outline-color: var(--red-1);
      $glow-color: var(--red-6);
      animation: neonFlicker 3s ease infinite;
      text-shadow: 0 0 7px $outline-color, 0 0 10px $outline-color,
        0 0 1px $outline-color, 0 0 22px $glow-color, 0 0 62px $glow-color,
        0 0 72px $glow-color, 0 0 20px $glow-color, 0 0 30px $glow-color;
      // text-shadow: -1px -1px 0 $outline-color, 1px -1px 0 $outline-color,
      //   -1px 1px 0 $outline-color, 1px 1px 0 $outline-color;
    }
  }

  #portfolio-splitter {
    width: 90%;
    margin: 0.25rem 0 2.5rem 0;

    @include FC;
    justify-content: space-between;

    svg {
      width: 2rem;
      height: 2rem;
      color: var(--primary-color-3-2);
    }
  }

  .page-body {
    width: 95%;
    margin: 0 auto;

    position: relative;

    #project-grid {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 5em 3em;
    }
  }
}
