@keyframes splitterReveal {
  0% { clip-path: polygon(0 0, 0 0, 0 30%, 0 30%); }
  50% { clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%); }
  60% { clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%); }
  100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

@mixin FC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 100vw;
  flex-direction: column;

  #home-portfolio-splitter {
    width: fit-content;
    height: 25px;
    padding: 1rem 3rem;
    margin: 0 auto;

    @include FC;

    clip-path: polygon(0 0, 0 0, 0 40%, 0 40%);
    animation: splitterReveal 2s 2s ease forwards;

    border: none;
    border-top: 3px solid var(--primary-color-2-1);
    border-width: 2px 4px;

    color: var(--primary-color-2-1);
    background-color: transparent;

    svg {
      width: 2.5rem;
      height: 2.5rem;
      color: var(--primary-color-3-1);
    }
  }
  
  #particle-container {
    width: 100%;
    height: fit-content;
    position: absolute;
    z-index: -1;

    #tsparticles {
      height: 2000px;
    }
  }
}