@keyframes splitterReveal {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@mixin FC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 100vw;
  flex-direction: column;

  #home-portfolio-splitter {
    width: fit-content;
    height: 25px;
    padding: 1rem 3rem;
    margin: 0 auto;

    @include FC;

    opacity: 0;
    animation: splitterReveal 1s 2.5s ease forwards;

    border: none;

    color: var(--primary-color-2-1);
    background-color: transparent;

    img {
      width: 500px;
      height: 200px;
      position: absolute;
      transform: translate(8px, -6.5rem);
    }

    div {
      @include FC;
      flex-direction: column;

      transform: translateY(2.5rem);

      svg {
        width: 2.5rem;
        height: 2.5rem;
        color: var(--primary-color-3-1);
      }

      svg:nth-of-type(2) { transform: translateY(-0.6rem); }
      svg:nth-of-type(3) { transform: translateY(-0.6rem * 2); }
      svg:nth-of-type(4) { transform: translateY(-0.6rem * 3); }
    }
  }
  
  #particle-container {
    width: 100%;
    height: fit-content;
    position: absolute;
    z-index: -1;

    #tsparticles {
      height: 2000px;
    }
  }
}