@keyframes titleJump {
  0% { transform: translateY(0); }
  40% { transform: translateY(-40px); }
  50% { transform: translateY(0px);}
  65% { transform: translateX(15px);}
  80% { transform: translateX(-15px);}
  100% { transform: translate(0, 0); }
}
@keyframes subtitleReveal {
  0% { transform: translateY(-30px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@keyframes subtitleReveal1 { 0% { transform: translateX(0) } 100% { transform: translateX(14rem) }}
@keyframes subtitleReveal2 { 0% { transform: translateX(0) } 100% { transform: translateX(16rem) }}
@keyframes subtitleReveal3 { 0% { transform: translateX(0) } 100% { transform: translateX(21rem) }}

@mixin FC {
  display: flex;
  align-items: center;
  justify-content: center;
}

body { 
  background-color: var(--black);
  overflow-x: hidden;

  color: white;
}

.App {
  width: 100%;
  height: fit-content;
  background-color: transparent;

  position: relative;

  header {
    height: 90vh;
    padding: 25px 0;

    @include FC;
    justify-content: flex-start;
    flex-direction: column;

    h1, h2 { 
      margin: 0;
      letter-spacing: 0.5rem;      
    }

    h2 { font-size: 2rem; }

    #title-container {
      height: fit-content;
      width: fit-content;
      
      h1 {
        margin: 0;
        
        color: var(--primary-color-3-1);

        line-height: 5.5rem;

        text-transform: uppercase;
        font-size: 6rem;
        font-weight: bold;
        animation: titleJump 500ms cubic-bezier(0, 1, 0.75, 1.5);
      }
      h1:nth-of-type(4) {
        opacity: 1;
        filter: brightness(1);
        margin-bottom: 5px;
        animation-delay: 400ms;
      }
      h1:nth-of-type(3) {
        opacity: 0.8;
        filter: brightness(0.7);
        animation-delay: 300ms;
      }
      h1:nth-of-type(2) {
        opacity: 0.5;
        filter: brightness(0.4);
        animation-delay: 200ms;
      }
      h1:nth-of-type(1) {
        opacity: 0.2;
        filter: brightness(0.3);
        animation-delay: 100ms;
      }

      h2 {
        opacity: 0;
        font-weight: 300;
        animation: subtitleReveal 300ms cubic-bezier(0, 1, 0.75, 1.5) forwards;
      }
      h2:nth-of-type(1) { animation-delay: 0.9s; }
      h2:nth-of-type(2) { animation: subtitleReveal 300ms 1s cubic-bezier(0, 1, 0.75, 1.5) forwards, subtitleReveal1 150ms 1.4s ease-out forwards; }
      h2:nth-of-type(3) { animation: subtitleReveal 300ms 1.1s cubic-bezier(0, 1, 0.75, 1.5) forwards, subtitleReveal2 150ms 1.4s ease-out forwards; }
      h2:nth-of-type(4) { animation: subtitleReveal 300ms 1.2s cubic-bezier(0, 1, 0.75, 1.5) forwards, subtitleReveal3 150ms 1.4s ease-out forwards; }
    }

    #header--social-links {
      
      @include FC;
      gap: 0 2rem;

      transform: translateY(6rem);

      button {
        height: 3rem;
        width: 9rem;

        color: var(--primary-color-2-1);
        font-family: inherit;
        font-weight: 600;
        letter-spacing: 0.15rem;

        background-color: var(--primary-color-3-1);
        border: none;
        border-radius: 0.5rem;

        transition: background-color 150ms ease;

        &:hover {
          background-color: var(--primary-color-3-3);
        }
      }
    }

    #header-scroll {
      width: 90%;
      height: 25px;
      padding: 1rem 0;

      position: absolute;
      bottom: 0;

      border: none;
      border-top: 2px dashed var(--primary-color-2-1);
      border-width: 2px 4px;

      color: var(--primary-color-2-1);
      background-color: transparent;

      svg {
        width: 2.5rem;
        height: 2.5rem;
        color: var(--primary-color-3-1);
      }
    }
  }
}

#particle-container {
  width: 100%;
  height: fit-content;
  position: absolute;
  z-index: -1;

  #tsparticles {
    height: 2000px;
  }
}